{:paths ["."]
 :deps {org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        org.clojure/math.combinatorics {:mvn/version "0.2.0"}
        org.clojure/core.logic {:mvn/version "1.0.1"}
        org.clojure/data.avl {:mvn/version "0.1.0"}
        org.flatland/ordered {:mvn/version "1.15.11"}
        com.taoensso/encore {:mvn/version "3.74.0"}}
 :aliases
  {:neil {:project {:name jsn/aoc2023}}

 :run-tests ;; added by neil
 {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
  :main-opts ["-m" "cognitect.test-runner"]
  :exec-args {:dirs ["."] :patterns [".*"]}
  :exec-fn cognitect.test-runner.api/test}}}
